In [3]:
import matplotlib.pyplot as plt
import numpy as np
import random as rnd
import math as m
import pandas as pd
import scipy.stats as stat
import seaborn as sb
from scipy.integrate import quad
from scipy.integrate import dblquad
from scipy.special import comb



expon = lambda n: stat.gamma(n, loc = 1)
my_norm = lambda exp, disp: stat.norm(loc = exp, scale = m.sqrt(disp))

In [7]:
data = sb.load_dataset("tips")
df = pd.DataFrame(data = data)

In [40]:
print("Shape is", df.shape)
print("Third column is", str(df.columns[2]))
print(df[df["total_bill"] < 15])
print(df[df["day"] == "Sat"])

Shape is (244, 7)
Third column is sex
     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
6          8.77  2.00    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
10        10.27  1.71    Male     No  Sun  Dinner     2
14        14.83  3.02  Female     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
228       13.28  2.72    Male     No  Sat  Dinner     2
232       11.61  3.39    Male     No  Sat  Dinner     2
233       10.77  1.47    Male     No  Sat  Dinner     2
235       10.07  1.25    Male     No  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2

[80 rows x 7 columns]
     total_bill   tip     sex smoker  day    time  size
19        20.65  3.35    Male     No  Sat  Dinner     3
20        17.92  4.08    Male     No  Sat  Dinner     2
21        20.29  2.75  Female     No  Sat  Dinner     2
22        15.77  2.23  Female     No  Sat  Dinner     2
23        39.42  7.58    Male     No  Sat  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[87 rows x 7 columns]

In [49]:
for day in ["Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"]:
    print(day, "Sum =", round(df[df["day"] == day]["tip"].sum(), 3))

Mon Sum = 0.0
Tue Sum = 0.0
Wed Sum = 0.0
Thur Sum = 171.83
Fri Sum = 51.96
Sat Sum = 260.4
Sun Sum = 247.39

In [81]:
new_data = {"Smoke/Sex":["SF", "SM", "NF", "NM"], "Thur": [], "Fri": [], "Sat": [], "Sun": []}
for smoker in ["Yes", "No"]:
    for sex in ["Female", "Male"]:
        for day in ["Thur","Fri", "Sat", "Sun"]:
            new_data[day].append(df[(df["day"] == day) & (df["sex"] == sex) & (df["smoker"] == smoker)] ["tip"].sum())
            
df1 = pd.DataFrame(new_data).set_index("Smoke/Sex")#, rows = ["Smoking female", "Smoking male", "Not smoking female", "Not smoking male"])
df1 #set_index

            Thur    Fri     Sat     Sun
Smoke/Sex
SF         20.93  18.78   43.03   14.00
SM         30.58  21.93   77.74   52.82
NF         61.49   6.25   35.42   46.61
NM         58.83   5.00  104.21  133.96

In [3]:
def length(x, y):
    return m.sqrt(x**2 + y**2)

In [83]:
def new_vyborka_circle(size):
    counter = 0; sample_x = []; sample_y = []; sample_z = []; ans = 0;
    while (counter < size):
        r = (stat.uniform.rvs(0, 1)) ** (1/3) #ВНИМАНИЕ, КОРЕНЬ!
        phi = stat.uniform.rvs(0, 2 * m.pi)
        psi = stat.uniform.rvs(0, 2 * m.pi)
        counter += 1
        
        x1 = r * m.cos(phi) * m.cos(psi)
        y1 = r * m.cos(phi) * m.sin(psi)
        z1 = r * m.sin(phi)
        
        sample_x.append(r * m.cos(phi) * m.cos(psi))
        sample_y.append(r * m.cos(phi) * m.sin(psi))
        sample_z.append(r * m.sin(phi))
        
        ans += (m.sqrt(1 - x1**2 - y1**2 - z1 **2))
    return sample_x, sample_y, sample_z, ans


samplesize = 1000000
sample_x, sample_y, sample_z, ans = new_vyborka_circle(samplesize)

print(ans * 4 / 3 * m.pi * 2 / samplesize)
print('Theoretical value is ', m.pi ** (2) / m.gamma(3))
print(m.pi**2 / 2)

4.932752003646391
Theoretical value is  4.934802200544679
4.934802200544679